{% extends 'schedule/adminstart.html' %}
{% block content %}
<br>
<table class="mytable">
  <thead>
    <tr>
      <th>Exam&nbsp;Id</th>
     <th>Exam&nbsp;&nbsp;Date</th>
     <th>Exam&nbsp;&nbsp;Time</th>
     <th>Invigilator&nbsp;1</th>
     <th>Invigilator&nbsp;2</th>
     <th>Invigilator&nbsp;3</th>
     <th>Invigilator&nbsp;4</th>
     <th>Invigilator&nbsp;5</th>
     <th>ROOMNO</th>
     <th>SUBJECT</th>
     <th>DEPARTMENT</th>
     <th>SEMESTER</th>
      <th>EDIT</th>
      <th>DELETE</th>
    </tr>
  </thead>

 
  <tbody>
    {% for i in data %} 
    <tr>
      <td data-column="Exam_Id">{{ i.ex.id}}</td>
      <td data-column="Exam__Date">{{ i.ex.exam_date }}</td>
      <td data-column="Time">{{ i.ex.exam_time }}</td>
      <td data-column="Invigilator&nbsp;1">{{ i.fna1.fname }}</td>
      <td data-column="Invigilator&nbsp;2">{{ i.fna2}}</td>
      <td data-column="Invigilator&nbsp;3">{{ i.fna3}}</td>
      <td data-column="Invigilator&nbsp;4">{{ i.fna4}}</td>
      <td data-column="Invigilator&nbsp;5">{{ i.fna5}}</td>
      <td data-column="Room No">{{ i.room.roomno }}</td>
      <td data-column="Course Name">{{ i.ex.subject }}</td>
      <td data-column="Year">{{ i.ex.dept }}</td>
      <td data-column="Semester">{{ i.ex.semester }}</td>
      
      <td data-column="Edit"><a href="{% url 'update' i.id %}"><i class="fa fa-edit" style="font-size: 25px;color:#0d7377" ></i></a></td>
      <td data-column="Delete"><a href="{% url 'delete' i.id %}"><i class="fa fa-trash"  style="font-size:25px;color:#ff414d"></a></i></td>
      </tr>
        {% endfor %}
    </tbody>
   
     </table>
  
<center>
<a href="{% url 'timetable4' %}" <button class="btn btn-secondary" >Preview&nbsp;To&nbsp;Download</button></a>&nbsp;&nbsp;&nbsp;
<a href="{% url 'send_email' %}" <button class="btn btn-success" >Send &nbsp;Email</button></a>
</center>
{% endblock content %}
